<p style="color: green"><%= notice %></p>

<% content_for :title, "Customers" %>

<h1>Customers</h1>

#<%# @customers = @customers.blacklisted_customers(1)   %>  # Related to blacklisted_customers

<div id="customers">
  <% @customers.each do |customer| %>
    <%= render customer %>

    <% if customer.profile_picture.attached? %>
      <% if customer.profile_picture.image? %>
        <%= image_tag url_for(customer.profile_picture) %>
      <% end %>
    <% else %>
      <p> No photo attached </p>
    <% end %>


    <p id="customer-btn">
      <%= link_to "Show this customer", customer %>
    </p>
    <hr>
  <% end %>
</div>

<p id="new-customer-btn">
  <%= link_to "New customer", new_customer_path %>
</p>