<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<p style="color: green"><%= notice %></p>
<div id="each-customer">

  <h3>Details</h3>
  <div >
    <%= render @customer %>

    
    <% if false %>
    #Adding about me in the show UI. But added at _customer.html.erb so it will printed twice. So commented.
    <p>
      <%= @customer.about_me %>
    </p> 
    <% end %>

    

    <% if @customer.profile_picture.attached? %>
      <%= image_tag @customer.profile_picture, alt: "Profile Picture" %>
    <% end %>

  </div>
  <hr>
  <div id="nav-btns-1">
    <button type="button" class="btn btn-warning">
      <%= link_to "Edit this customer", edit_customer_path(@customer) %> 
    </button>
    |
    <button type="button" class="btn btn-info">
      <%= link_to "Back to customers", customers_path %>
    </button>

    <div  id="destroy-btn">
      <%= button_to "Destroy this customer", @customer, method: :delete %>
    </div>
    
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>